.centerImg {
  border: 5px solid white;
  width: 75%;
  height: 350px;
}

.mainTitles {
  font-size: 22px;
  font-weight: 800;
  color: #502923;
}

.mainText {
  font-size: 16px;
  width: 85%;
}

.attention {
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 100px;
  height: 65px;
  color: #502923;
}

.mainButton {
  font-size: 20px;
  font-weight: 700;
  border: 5px solid white;
  color: white;
  padding: 5px 25px;
}

.yesButton {
  font-size: 20px;
  font-weight: 800;
  border: 5px solid white;
  color: white;
  justify-content: center;
  padding: 10px 50px;
}

.pageItems {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
