.App-link {
  color: #61dafb;
}

.mainImages {
  width: 100%;
}

.centerImg {
  border: 5px solid white;
  /* margin-top: 50px; */
  width: 70%;
  height: 350px;
}

.mainDivAsk {
  background-color: #d9d9d9;
  height: 100%;
}

.mainTitles {
  font-size: 22px;
  font-weight: 800;
  color: #502923;
}

.mainText {
  font-size: 16px;
  width: 85%;
}

.attention {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 800;
  margin-bottom: 100px;
  height: 65px;
  color: #502923;
}

.attentionText {
  height: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
  color: #502923;
}

.askingText {
  height: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
  color: #502923;
}

.mainButton {
  font-size: 20px;
  font-weight: 700;
  border: 5px solid white;
  color: white;
  padding: 5px 25px;
}

.yesButton {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  border: 5px solid white;
  color: white;
  justify-content: center;
  padding: 10px 50px;
}

.corre {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  border: 5px solid white;
  color: white;
  justify-content: center;
  padding: 5px 25px;
}

.pageItens {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
