.App-link {
  color: #61dafb;
}

.mainImages {
  width: 100%;
}

.centerImg {
  border: 5px solid white;
  margin-top: 200px;
  margin-left: 43px;
  width: 296px;
  height: 350px;
}

.mainDiv {
  background-color: #d9d9d9;
}

.mainDivAsk {
  background-color: #d9d9d9;
  height: 844px;
}

.mainTitles {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  height: 65px;
  color: #502923;
}

.middlePage {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%;
  height: 380px;
}

.mainText {
  height: 260px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

.attention {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
  height: 65px;
  color: #502923;
}

.attentionText {
  height: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
  color: #502923;
}

.askingText {
  height: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
  color: #502923;
}

.mainButton {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  border: 5px solid white;
  color: white;
  justify-content: center;
  padding: 5px 25px;
}

.corre {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  border: 5px solid white;
  color: white;
  justify-content: center;
  padding: 5px 25px;
}

.pageItens {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}